
.mainBody{
    margin-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.icon{
    height: 20px;
    position:relative;
    top:6px;
}
.header{
    display:flex;
    justify-content: space-between;
    width: 68%;
}
.left{
    display: flex;
    gap: 25px;
}

.right{
    display: flex;
    gap: 25px;
}
.input{
    border-radius: 20px;
    padding-left: 12px;
    display:none;
}
.show{
    display: block;
}